@import "@/styles/variables";
@import "@/styles/breakpoint";
@import "@/styles/font";

// animation schedule board variable
@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
}

@property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
}

@property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

// SCHEDULE
.root1 {
    height: 100%;
    // background-color: black;

    &.transition {
        animation: change 1s linear;
    }

    @keyframes change {
        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }


    header {
        width: 100%;
        text-align: center;
        font-size: 5.3vw;
        padding: 5vh 0 10vh;
        @include FontBold;

        sup {
            vertical-align: super;
            font-size: smaller;
        }
    }

    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);

    .schedule {
        margin-inline: 13.64vh;
        border: 10px solid $color-white;

        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;

        @keyframes borderRotate {
            100% {
                --angle: 420deg;
            }
        }

        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-block: 10vh;
            height: 60vh;
            background-color: rgba($color: $color-white, $alpha: .1);

            .team {
                display: flex;
                justify-content: center;
                align-items: center;
                @include FontBold;
                font-size: 2vw;

                &:not(:last-child) {
                    margin-bottom: 3vh;
                }

                img {
                    width: 10%;
                }

                .team1 {
                    width: 45%;
                    display: flex;
                    gap: 2vw;
                    align-items: center;
                    justify-content: flex-end;

                    &.lose {
                        -webkit-filter: grayscale(100%);
                        /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }

                span {
                    width: 10%;
                    text-align: center;
                }

                .team2 {
                    flex: 1;
                    display: flex;
                    gap: 2vw;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;

                    &.lose {
                        -webkit-filter: grayscale(100%);
                        /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }
            }
        }
    }

    .board_layer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1620px;
        height: 80vh;
        border: 10px solid $color-white;

        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;

        .result_board {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1600px;
            font-size: 5vh;
            margin: 0 auto;
            border-collapse: collapse;
            margin-bottom: 20px;
            @include FontBold();
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 4vh;
            text-align: left;
        }

        th {
            background-color: transparent;
        }

        tr {

            th,
            td {

                &:last-child,
                &:nth-child(2) {
                    text-align: center;
                }
            }

            td {
                &:first-child {
                    position: relative;
                    padding-left: 16vh;

                    img {
                        position: absolute;
                        width: 7.5%;
                        object-fit: contain;
                        left: 4vh;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

// TEAM INGAME
.root2 {
    height: 100%;
    // background-color: black;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;

            &:first-child {
                width: 40%;
            }

            &:last-child {
                width: 40%;
            }

            img {
                width: 8%;
                margin-bottom: 1vh;
            }

            span {
                @include FontBold();
                font-size: 15px;
            }
        }
    }
}

// NEXT GAME
.root3 {
    height: 100%;
    // background-color: black;

    &.bg {
        background-color: black;
    }

    header {
        width: 100%;
        text-align: center;
        font-size: 5.3vw;
        padding: 5vh 0 10vh;
        @include FontBold;

        sup {
            vertical-align: super;
            font-size: smaller;
        }
    }

    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);

    .board {
        margin-inline: 13.64vh;
        border: 10px solid $color-white;

        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;

        @keyframes borderRotate {
            100% {
                --angle: 420deg;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10vh 4vh;
            height: 60vh;
            background-color: rgba($color: $color-white, $alpha: .1);

            h2 {
                font-size: 2vw;
                margin-bottom: 3vh;
            }

            >div {
                text-align: center;
                font-size: 4vw;

                .time {
                    display: flex;
                    justify-content: center;
                    @include FontBold();
                    font-size: 10vw;
                    width: 100%;

                    >span {
                        &:first-child {
                            width: 30%;
                            text-align: right;
                        }

                        &:nth-child(2) {
                            margin-inline: 2vh;
                        }

                        &:last-child {
                            width: 30%;
                            text-align: left;
                        }
                    }
                }

                .team {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include FontBold;
                    font-size: 6vw;

                    &:not(:last-child) {
                        margin-bottom: 3vh;
                    }

                    img {
                        width: 25%;
                    }

                    .team1 {
                        width: 45%;
                        display: flex;
                        gap: 2vw;
                        align-items: center;
                        justify-content: flex-end;

                        &.lose {
                            -webkit-filter: grayscale(100%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                            opacity: .5;
                        }
                    }

                    span {
                        width: 10%;
                        text-align: center;
                        font-size: 2.5vw;
                    }

                    .team2 {
                        flex: 1;
                        display: flex;
                        gap: 2vw;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: flex-end;

                        &.lose {
                            -webkit-filter: grayscale(100%);
                            /* Safari 6.0 - 9.0 */
                            filter: grayscale(100%);
                            opacity: .5;
                        }
                    }
                }
            }
        }
    }
}

// Result
.root4 {
    height: 100%;
    // background-color: black;

    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);

    .board_layer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1620px;
        height: 80vh;
        border: 10px solid $color-white;

        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;

        .result_board {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1600px;
            font-size: 5vh;
            margin: 0 auto;
            border-collapse: collapse;
            margin-bottom: 20px;
            @include FontBold();
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 4vh;
            text-align: left;
        }

        th {
            background-color: transparent;
        }

        tr {

            th,
            td {

                &:last-child,
                &:nth-child(2) {
                    text-align: center;
                }
            }

            td {
                &:first-child {
                    position: relative;
                    padding-left: 16vh;

                    img {
                        position: absolute;
                        width: 7.5%;
                        object-fit: contain;
                        left: 4vh;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

// NExt day
.root5 {
    height: 100%;
    // background-color: black;

    header {
        width: 100%;
        text-align: center;
        font-size: 5.3vw;
        padding: 5vh 0 10vh;
        @include FontBold;

        sup {
            vertical-align: super;
            font-size: smaller;
        }
    }

    --d: 2500ms;
    --angle: 90deg;
    --gradX: 100%;
    --gradY: 50%;
    --c1: rgba(168, 239, 255, 1);
    --c2: rgba(168, 239, 255, 0.1);

    .schedule {
        margin-inline: 13.64vh;
        border: 10px solid $color-white;

        border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
        animation: borderRotate var(--d) linear infinite forwards;

        @keyframes borderRotate {
            100% {
                --angle: 420deg;
            }
        }

        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-block: 10vh;
            height: 60vh;
            background-color: rgba($color: $color-white, $alpha: .1);

            .team {
                display: flex;
                justify-content: center;
                align-items: center;
                @include FontBold;
                font-size: 2vw;

                &:not(:last-child) {
                    margin-bottom: 3vh;
                }

                img {
                    width: 10%;
                }

                .team1 {
                    width: 45%;
                    display: flex;
                    gap: 2vw;
                    align-items: center;
                    justify-content: flex-end;

                    &.lose {
                        -webkit-filter: grayscale(100%);
                        /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }

                span {
                    width: 10%;
                    text-align: center;
                }

                .team2 {
                    flex: 1;
                    display: flex;
                    gap: 2vw;
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;

                    &.lose {
                        -webkit-filter: grayscale(100%);
                        /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);
                        opacity: .5;
                    }
                }
            }
        }
    }
}

// Test
.test {
    color: black;
    padding: 100px 100px;

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    li {
        width: calc(4/12 * 100% - calc(24px * 2 / 3));
    }

    // background-color: rebeccapurple;
    .articleItem {
        padding: 10px;
        height: 100%;
        position: relative;

        &:hover {
            .btn {
                opacity: 1;
                visibility: visible;
            }

            &::before {
                top: -20px;
                height: calc(100% + 50px);
                box-shadow: 0 4px 6px 0 rgba($color: #000000, $alpha: 0.3);
            }

            .title,
            .tag,
            .img {
                transform: translateY(-20px);
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            border: 0.1rem solid #000;
            border-radius: 10px;

            transition: height 0.4s, top 0.4s, box-shadow 0.4s;

            pointer-events: none;
        }

        .img {
            aspect-ratio: 1;
            background-color: blue;

            transition: transform 0.4s;
        }

        .tag {
            text-decoration: underline;
            margin-top: 10px;

            transition: transform 0.4s;
        }

        .title {
            margin-top: 10px;
            font-weight: 700;

            transition: transform 0.4s;
        }

        .btn {
            height: 40px;

            font-size: 0.8rem;
            background-color: red;
            border-radius: 999px;

            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            left: 10px;
            width: calc(100% - 20px);
            bottom: -20px;

            opacity: 0;
            visibility: hidden;

            transition: opacity 0.4s, visibility 0.4s;
        }
    }
}